<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <title>mybooks</title>
  <link rel="stylesheet" href="styles/style.css">
    
</head>
<section class="gradient-background" id="title">
    <div class="container col-xxl-8 px-4 pt-5 pb-0"> 
      <div class="row flex-lg-row-reverse align-items-center g-5 pt-5 pb-0">
         
       <div class="col-12 d-flex justify-content-center"> 
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" style="color:#fff">WELCOME TO THE LIBRARY CORNER</h1> 
        
         </div> 
        </div> 
      </div>

  </section>

<body>
    
